{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <div class="{{ block.settings.text_align }}" style="background-color:{{block.settings.bg_color}}; color:{{block.settings.text_color}}; padding:{{block.settings.padding}}px 0px; margin-bottom:{{block.settings.margin}}px">
        {{ block.settings.text }}
      </div>
  {%- endcase -%}
{%- endfor -%}

{% schema %}
{
  "name": "Announcement Bar",
  "max_blocks": 4,
  "settings": [
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Announcement",
          "default": "<p>Welcome to Store</p>"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#000"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text Alignment",
          "options": [
            {
              "value": "text-left",
              "label": "Text Left"
            },
            {
              "value": "text-center",
              "label": "Text Center"
            },
            {
              "value": "text-right",
              "label": "Text Right"
            }
         ],
         "default": "text-center"
        },
        {
          "type": "number",
          "id": "padding",
          "label": "Padding",
          "default": 5
        },
        {
          "type": "range",
          "id": "margin",
          "label": "Margin",
          "unit": "px",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 1
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
